@using TestOnLine.Models.Management
@using TestOnLine.Models.Data
@model List<Course>

<h3>课程管理</h3>

<!-- 引入搜索框部分视图 -->
@await Html.PartialAsync("_CourseSearchBox")

<!-- 搜索结果区域 -->
<div id="searchResultsCourse" class="mt-4">
    <p>请使用上面的搜索框查询课程相关信息。</p>
</div>