@using TestOnLine.Models.Management
@using TestOnLine.Models.Data
@model List<Student>

<div class="search-bar">
    <input type="text" id="studentSearchInput" placeholder="输入要查询的学生姓名" class="form-control" />
    <button class="btn btn-primary mt-2" onclick="searchStudents()">搜索</button>
</div>