@using TestOnLine.Models.Data
@model List<Teacher>

<div class="search-bar">
    <input type="text" id="teacherSearchInput" placeholder="输入要查询的教师姓名" class="form-control" />
    <button class="btn btn-primary mt-2" onclick="searchTeachers()">搜索</button>
</div>