@{
    ViewData["Title"] = "管理员仪表盘";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light sidebar">
            <div class="admin-info p-3">
                <p>管理员页面</p>
            </div>
            <nav class="nav flex-column">
                <button class="nav-link btn btn-link" onclick="loadContent(event, 'StudentManagement')">学生管理</button>
                <button class="nav-link btn btn-link" onclick="loadContent(event, 'TeacherManagement')">教师管理</button>
                <button class="nav-link btn btn-link" onclick="loadContent(event, 'CourseManagement')">课程管理</button>
            </nav>
        </div>
        <div class="col-md-9" id="content">
            <h3>欢迎, 管理员!</h3>
            <p>请选择左侧菜单中的一个选项来管理班级、学生、教师或课程。</p>
        </div>
    </div>
</div>
