@using TestOnLine.Models.Data
@model Exam
@{
    ViewData["Title"] = "考试管理";
    var studentId = ViewBag.StudentId;
}

<h3>考试管理</h3>

<h4>目前正在进行的考试</h4>
<ul>
    @foreach (var exam in Model.OngoingExams)
    {
            <li>
                <strong>科目:</strong> @exam.CourseName <br />
                <strong>考试名称:</strong> @exam.ExamName <br />
                <a href="/Exam/TakeExam?examId=@exam.ExamId&studentId=@studentId&courseId=@exam.CourseId" class="btn btn-primary">开始考试</a>
            </li>
    }
</ul>
