@using TestOnLine.Models.Data
@model Grade
@{
    ViewData["Title"] = "成绩管理";
    var studentId = ViewBag.StudentId;
}

<h3>成绩管理</h3>

<h4>课程总成绩</h4>
<ul>
    
</ul>

<h4>考试成绩</h4>
<ul>
    @foreach (var examGrade in Model.ExamGrades)
    {
            <li>@examGrade.ExamName: @examGrade.TotalScore</li>
    }
</ul>
