@{
    ViewData["Title"] = "学生仪表盘";
    var studentId = ViewBag.StudentId;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light sidebar">
            <div class="student-info p-3">
                <h5>@ViewBag.StudentName</h5>
                <p>@studentId</p>
            </div>
            <nav class="nav flex-column">
                <a class="nav-link" href="#" onclick="loadContent('CourseManagement', @studentId)">课程管理</a>
                <a class="nav-link" href="#" onclick="loadContent('ExamManagement', @studentId)">考试管理</a>
                <a class="nav-link" href="#" onclick="loadContent('GradeManagement', @studentId)">成绩管理</a>
                <a class="nav-link" href="#" onclick="loadContent('PersonalInfo', @studentId)">个人信息</a>
            </nav>
        </div>
        <div class="col-md-9" id="content">
            @await Html.PartialAsync("_ExamManagement", new { studentId = studentId })
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function loadContent(viewName, studentId) {
            fetch('/StudentDashboard/LoadView?viewName=' + viewName + '&studentId=' + studentId)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                });
        }
    </script>
}