@{
    ViewData["Title"] = "教师仪表盘";
    var teacherId = ViewBag.TeacherId;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light sidebar">
            <div class="teacher-info p-3">
                <h5>@ViewBag.TeacherName</h5>
                <p>@teacherId</p>
            </div>
            <nav class="nav flex-column">
                <button class="nav-link btn btn-link" onclick="loadContent(event, 'CourseManagement', @teacherId)">课程管理</button>
                <button class="nav-link btn btn-link" onclick="loadContent(event, 'ExamManagement', @teacherId)">考试管理</button>
            </nav>
        </div>
        <div class="col-md-9" id="content">
            <h3>欢迎, @ViewBag.TeacherName!</h3>
            <p>请选择左侧菜单中的一个选项来管理您的课程或考试。</p>
        </div>
    </div>
</div>

@section Scripts {
            <script>
                function loadContent(event, viewName, teacherId) {
                    fetch('/Teacher/LoadView?viewName=' + viewName + '&teacherId=' + teacherId)
                        .then(response => response.text())
                        .then(html => {
                            document.getElementById('content').innerHTML = html;
                        });
                }
            </script>
}