@{
    ViewData["Title"] = "教师仪表盘";
    var teacherId = ViewBag.TeacherId;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light sidebar">
            <div class="teacher-info p-3">
                <h5>@ViewBag.TeacherName</h5>
                <p>@teacherId</p>
            </div>
            <nav class="nav flex-column">
                <a class="nav-link" href="#" onclick="loadContent('CourseManagement', @teacherId)">课程管理</a>
                <a class="nav-link" href="#" onclick="loadContent('ExamManagement', @teacherId)">考试管理</a>
            </nav>
        </div>
        <div class="col-md-9" id="content">
            @await Html.PartialAsync("_CourseManagement", new { teacherId = teacherId })
        </div>
    </div>
</div>

@section Scripts {
        <script>
            function loadContent(viewName, teacherId) {
                fetch('/TeacherDashboard/LoadView?viewName=' + viewName + '&teacherId=' + teacherId)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('content').innerHTML = html;
                    });
            }
        </script>
}
